/* Buttons */
.profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.update-button {
    display: flex;
    padding: 8px 16px;
    border-radius: 15px;
    justify-self: center;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;
    width: 18vw;
}
.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
/* Section Titles */
.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Account Details */
.account-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/* Profile Image Column */
.profile-image-column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.profile-image-column img {
    width: 200px;
    border-radius: 50%;
}

/* Details Column */
.details-column {
    flex: 1;
    margin-bottom: 10px;
}

/* Update Button Column */
.update-button-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Account Details Span */
.account-details span {
    font-weight: bold;
    color: #808080;
}

/* Health Metrics Details */
.health-metrics-details {
    display: flex;
    justify-content: center;
    width: 100%;
}
.edit-button-section{
    display: flex;
}


/* Metrics Table */
.metrics-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.metrics-table th,
.metrics-table td {
    padding: 8px;
    text-align: left;
}

.metrics-table th {
    color: #808080;
}

/* Responsive Styles */
@media (max-width: 800px) {
    .profile-image-column {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
   .details-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .update-button{
    width: 30vw;
   }
   .health-metrics-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metrics-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.metrics-table th, .metrics-table td {
    padding: 8px;
    text-align: left;
}

.edit-button-section {
    margin-top: 20px;
    text-align: center;
}



/* Optional: Add hover effect for the edit button */
.edit-button:hover {
    background-color: #0056b3;
}
}
